Repository stillrivercode/stillriver-ai-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint, npm-lint-security, npm-lint-yaml

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.gitignore$
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: npm-test
        name: Run npm tests
        entry: npm test
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint
        name: Run ESLint
        entry: npm run lint
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-security
        name: Run ESLint security scan
        entry: npm run lint:security
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-yaml
        name: Run YAML linting
        entry: npm run lint:yaml
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false
        stages: [pre-commit]

fix: resolve ESLint security scan unused variable warnings
  src/errors.ts
Due: npm-lint, npm-lint-security

feat: implement AI review feedback improvements
  README.md
  docs/prompt-template-structure.md
  src/main.ts
  src/review.ts
  tests/review.test.ts
Due: npm-lint, npm-lint-security

feat: implement comprehensive AI review improvements
  action.yml
  src/main.ts
  src/review.ts
  tests/main.test.ts
  tests/review.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

feat: add automated build and tag workflow
  .github/workflows/build-and-tag.yml
  docs/build-and-tag-workflow.md
Due: npm-lint-yaml

fix: update workflow to trigger on PR merge to main
  .github/workflows/build-and-tag.yml
  docs/build-and-tag-workflow.md
Due: npm-lint-yaml

feat: Add automated build and tag workflow (#9)
  .github/workflows/build-and-tag.yml
  docs/build-and-tag-workflow.md
Due: npm-lint-yaml

chore: bump version to 1.0.1
  package-lock.json
  package.json
Due: none

fix: add checkout step to verify-release job to fix git command error
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

fix: add checkout step to verify-release job to fix git command error (#10)
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

chore: bump version to 1.0.2
  package-lock.json
  package.json
Due: none

feat: integrate stillriver-ai-bot action into ai-pr-review workflow
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: use versioned action reference instead of local path
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: ensure dist files are committed before creating tags
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

revert: use shell scripts instead of published action for ai-pr-review
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: add explicit build step before committing dist files
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

refactor: consolidate build steps and fix .gitignore for dist files
  .github/workflows/build-and-tag.yml
  .gitignore
  .pre-commit-config.yaml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
Due: npm-lint, npm-lint-security, npm-lint-yaml

security: fix shell injection vulnerability in build workflow
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

docs: add .gitattributes and clarify PR scope
  .gitattributes
Due: none

fix: correct dist/ file management process
  .github/workflows/build-and-tag.yml
  .gitignore
  .pre-commit-config.yaml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
Due: npm-lint, npm-lint-security, npm-lint-yaml

improve: enhance workflow with best practices
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

feat: integrate stillriver-ai-bot action into workflows (#11)
  .gitattributes
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

fix(release): Force add dist directory in release workflow
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

fix(release): Force add dist directory in release workflow (#12)
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

chore: bump version to 1.0.3 and update dist files
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

test: integrate AI review workflow with local action
  README.md
Due: none

feat: integrate AI review workflow with local composite action
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: escape quotes in workflow YAML for model default value
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: use JavaScript OR operator for model default instead of YAML expression
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: output review content instead of posting directly
  src/main.ts
  tests/main.test.ts
Due: npm-lint, npm-lint-security

debug: add comprehensive logging to diagnose missing comment issue
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

debug: add action failure diagnostics
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

debug: add extensive action execution logging
  dist/index.js
  dist/index.js.map
  package.json
  src/index.ts
  src/main.ts
Due: npm-lint, npm-lint-security

fix: prevent debug step hanging by safely handling review content
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml
