Repository stillrivercode/stillriver-ai-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint, npm-lint-security, npm-lint-yaml

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.gitignore$
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: npm-test
        name: Run npm tests
        entry: npm test
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint
        name: Run ESLint
        entry: npm run lint
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-security
        name: Run ESLint security scan
        entry: npm run lint:security
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-yaml
        name: Run YAML linting
        entry: npm run lint:yaml
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false
        stages: [pre-commit]

fix: resolve JavaScript syntax error in review comment posting
  .github/workflows/ai-pr-review.yml
  dist/index.js
  dist/index.js.map
  src/review.ts
  tests/review.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

fix: resolve security scan issues and update model defaults
  .github/workflows/ai-pr-review.yml
  action.yml
  src/errors.ts
  src/review.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

test: integrate AI review workflow with local action (#13)
  .github/workflows/ai-pr-review.yml
  README.md
  action.yml
  dist/index.js
  dist/index.js.map
  package.json
  src/errors.ts
  src/index.ts
  src/main.ts
  src/review.ts
  tests/main.test.ts
  tests/review.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.4 and update dist files
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

feat: rename repository from stillriver-ai-bot to stillriver-ai-workflows
  CONTRIBUTING.md
  GEMINI.md
  README.md
  SECURITY.md
  action.yml
  examples/README.md
  examples/basic-review.yml
  examples/custom-rules-with-workflow.yml
  package-lock.json
  package.json
  specs/issue-1-ai-workflow-template-user-management-architecture.md
Due: npm-lint-yaml

feat: rename repository from stillriver-ai-bot to stillriver-ai-workflows (#14)
  CONTRIBUTING.md
  GEMINI.md
  README.md
  SECURITY.md
  action.yml
  dist/index.js
  dist/index.js.map
  examples/README.md
  examples/basic-review.yml
  examples/custom-rules-with-workflow.yml
  package-lock.json
  package.json
  specs/issue-1-ai-workflow-template-user-management-architecture.md
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.5 and update dist files
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

feat: add post_comment parameter with automatic comment posting by default
  README.md
  action.yml
  dist/index.js
  dist/index.js.map
  examples/README.md
  examples/custom-rules-with-workflow.yml
  src/main.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

feat: add post_comment parameter with automatic comment posting by default (#15)
  README.md
  action.yml
  dist/index.js
  dist/index.js.map
  examples/README.md
  examples/custom-rules-with-workflow.yml
  src/main.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.6 and update dist files
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

fix: update test to match new AI review header format and pre-commit fixes
  .github/workflows/ai-pr-review.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
  tests/main.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

Fix AI PR review comment truncation and add dynamic model headers (#17)
  .github/workflows/ai-pr-review.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
  tests/main.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.7 and update dist files
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

Fix AI PR review comment truncation and add dynamic model headers (#17)
  .github/workflows/ai-pr-review.yml
  README.md
  dist/index.js
  dist/index.js.map
  docs/roadmaps/roadmap-ai-pr-review-action.md
  src/main.ts
  tests/main.test.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.7 and update dist files
  .github/workflows/build-and-tag.yml
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security, npm-lint-yaml

feat: consolidate comment posting logic in main.ts
  .github/workflows/ai-pr-review.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

remove dist from .gitignore since dist files are committed to repo
  .gitignore
Due: none

Auto-update major version tag (v1) in release workflow (#19)
  .github/workflows/ai-pr-review.yml
  .github/workflows/build-and-tag.yml
  .gitignore
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.8 and update dist files
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Due: npm-lint, npm-lint-security

docs: update README.md - remove v1.0.6 features section and use AI_MODEL env var
  README.md
Due: none

Update documentation to reflect v1.0.6 improvements and Phase 1 completion (#18)
  README.md
  dist/index.js.map
  docs/roadmaps/roadmap-ai-pr-review-action.md
Due: none

chore: bump version to 1.0.9 and update dist files
  dist/index.js.map
  package-lock.json
  package.json
Due: none

docs: update phase 1 spec with v1.0.8 achievements and recent progress
  .github/workflows/build-and-tag.yml
  specs/phase-1-ai-pr-review-action-spec.md
Due: npm-lint-yaml

docs: update phase 1 spec and add CHANGELOG.md auto-update (#20)
  .github/workflows/build-and-tag.yml
  dist/index.js.map
  specs/phase-1-ai-pr-review-action-spec.md
Due: npm-lint-yaml

chore: bump version to 1.0.10 and update dist files
  CHANGELOG.md
  dist/index.js.map
  package-lock.json
  package.json
Due: none

docs: remove extra blank line in README.md
  README.md
Due: none

docs: add AI resolvable comments research and technical specification
  docs/research/ai-resolvable-comments-analysis.md
  docs/specs/ai-resolvable-comments-spec.md
Due: none

docs: update AI PR review roadmap with resolvable comments research
  docs/roadmaps/roadmap-ai-pr-review-action.md
Due: none

Add AI Resolvable Comments Research and Technical Specification (#22)
  docs/research/ai-resolvable-comments-analysis.md
  docs/roadmaps/roadmap-ai-pr-review-action.md
  docs/specs/ai-resolvable-comments-spec.md
Due: none

feat: implement AI Resolvable Comments system
  CLAUDE.md
  package.json
  scripts/ai-review-resolvable.sh
  scripts/ai-review/README.md
  scripts/ai-review/core/confidence-scoring.js
  scripts/ai-review/demo-formats.sh
  scripts/ai-review/format-suggestions.sh
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/test-suggestions.json
  scripts/ai-review/validate-suggestions.sh
Due: npm-lint, npm-lint-security

fix: resolve format string security vulnerability
  scripts/ai-review/services/ai-analysis-service.js
Due: npm-lint, npm-lint-security

fix: remove format string vulnerability in ai-analysis-service.js
  scripts/ai-review/services/ai-analysis-service.js
Due: npm-lint, npm-lint-security

fix: apply Prettier formatting to confidence-scoring.js
  scripts/ai-review/core/confidence-scoring.js
Due: npm-lint, npm-lint-security

fix: resolve final ESLint security warnings
  .eslintrc.security.js
  scripts/ai-review/services/ai-analysis-service.js
Due: npm-lint, npm-lint-security

feat: integrate AI resolvable comments system into existing workflows
  .github/workflows/ai-pr-review.yml
  CLAUDE.md
  GEMINI.md
  README.md
  bandit-report-prod.json
  bandit-report-tests.json
  package.json
  security-results.zip
  semgrep-results-fixed.json
Due: npm-lint-yaml

fix: correct AI review script parameters in workflow
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

feat: make PR review rate limit configurable (default 1 minute)
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

fix: remove ai-review-needed label when AI review fails
  .github/workflows/ai-pr-review.yml
Due: npm-lint-yaml

feat: implement real AI analysis with GitHub integration
  scripts/ai-review-resolvable.sh
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/services/analysis-orchestrator-cli.js
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
  scripts/ai-review/validate-suggestions.sh
Due: npm-lint, npm-lint-security

feat: add configurable inline comments for AI resolvable suggestions
  .github/workflows/ai-pr-review.yml
  CLAUDE.md
  GEMINI.md
  scripts/ai-review-resolvable.sh
  scripts/ai-review/format-suggestions.sh
Due: npm-lint-yaml
