Repository stillrivercode/stillriver-ai-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint, npm-lint-security, npm-lint-yaml

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.gitignore$
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: npm-test
        name: Run npm tests
        entry: npm test
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint
        name: Run ESLint
        entry: npm run lint
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-security
        name: Run ESLint security scan
        entry: npm run lint:security
        language: system
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      - id: npm-lint-yaml
        name: Run YAML linting
        entry: npm run lint:yaml
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false
        stages: [pre-commit]

docs: add AI_ENABLE_INLINE_COMMENTS configuration documentation
  README.md
  docs/specs/ai-resolvable-comments-spec.md
Due: none

fix: resolve security scan failures in AI analysis services
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/services/analysis-orchestrator-cli.js
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
Due: npm-lint, npm-lint-security

feat: use appropriate label based on inline comments configuration
  .github/workflows/ai-pr-review.yml
  GEMINI.md
  security-results.zip
Due: npm-lint-yaml

feat: enhance AI review system with comprehensive GitHub integration and test coverage
  .gitignore
  bandit-report-prod.json
  bandit-report-tests.json
  jest.config.js
  package.json
  scripts/ai-review-resolvable.sh
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
  tests/ai-review/analysis-orchestrator.test.js
  tests/ai-review/confidence-scoring.test.js
  tests/ai-review/github-api-service.test.js
  tests/ai-review/integration.test.js
Due: npm-lint, npm-lint-security

fix: resolve AI review test failures and ESLint errors
  scripts/ai-review-resolvable.sh
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
  tests/ai-review/analysis-orchestrator.test.js
  tests/ai-review/confidence-scoring.test.js
  tests/ai-review/github-api-service.test.js
  tests/ai-review/integration.test.js
Due: npm-lint, npm-lint-security

fix: skip failing confidence scoring tests to prevent local errors
  docs/roadmaps/roadmap-ai-pr-review-action.md
  package.json
  scripts/ai-review/services/analysis-orchestrator.js
  tests/ai-review/confidence-scoring.test.js
Due: npm-lint, npm-lint-security

fix: resolve security scan errors from GHA run #16506718325
  jest.config.js
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
Due: npm-lint, npm-lint-security

feat: add approval recommendations to AI review summary comments
  scripts/ai-review/services/analysis-orchestrator.js
Due: npm-lint, npm-lint-security

feat: expand file analysis coverage and add confidence metrics to summaries
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
  tests/ai-review/github-api-service.test.js
Due: npm-lint, npm-lint-security

fix: resolve security scan errors from GHA run #16507168177
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
Due: npm-lint, npm-lint-security

feat: restore comprehensive detailed review in summary comments alongside inline comments
  scripts/ai-review/services/analysis-orchestrator.js
  tests/ai-review/analysis-orchestrator.test.js
Due: npm-lint, npm-lint-security

fix: resolve security scan errors from GHA run #16507361490
  scripts/ai-review/services/analysis-orchestrator.js
Due: npm-lint, npm-lint-security

feat: improve workflow to prevent future ESLint security regressions
  .github/workflows/quality-checks.yml
  package.json
Due: npm-lint-yaml

fix: resolve false positive in ESLint security detection logic
  .github/workflows/quality-checks.yml
Due: npm-lint-yaml

feat: Implement AI Resolvable Comments System (Phase 1) (#23)
  .eslintrc.security.js
  .github/workflows/ai-pr-review.yml
  .github/workflows/quality-checks.yml
  .gitignore
  CLAUDE.md
  GEMINI.md
  README.md
  docs/roadmaps/roadmap-ai-pr-review-action.md
  docs/specs/ai-resolvable-comments-spec.md
  jest.config.js
  package.json
  scripts/ai-review-resolvable.sh
  scripts/ai-review/README.md
  scripts/ai-review/core/confidence-scoring.js
  scripts/ai-review/demo-formats.sh
  scripts/ai-review/format-suggestions.sh
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/services/analysis-orchestrator-cli.js
  scripts/ai-review/services/analysis-orchestrator.js
  scripts/ai-review/services/github-api-service.js
  scripts/ai-review/test-suggestions.json
  scripts/ai-review/validate-suggestions.sh
  semgrep-results-fixed.json
  tests/ai-review/analysis-orchestrator.test.js
  tests/ai-review/confidence-scoring.test.js
  tests/ai-review/github-api-service.test.js
  tests/ai-review/integration.test.js
Due: npm-lint, npm-lint-security, npm-lint-yaml

fix: improve dist files verification in build-and-tag workflow
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

fix: improve dist files verification in build-and-tag workflow (#24)
  .github/workflows/build-and-tag.yml
Due: npm-lint-yaml

chore: bump version to 1.0.11 and update dist files
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: correct AI resolvable comments to post actual inline review comments
  scripts/ai-review/services/github-api-service.js
  tests/ai-review/github-api-service.test.js
Due: npm-lint, npm-lint-security

fix: correct AI resolvable comments to post actual inline review comments (#25)
  scripts/ai-review/services/github-api-service.js
  tests/ai-review/github-api-service.test.js
Due: npm-lint, npm-lint-security

chore: bump version to 1.0.12 and update dist files
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: prepare for GitHub Marketplace release v1.0.12
  README.md
  action.yml
  package.json
Due: npm-lint-yaml

refactor: update branding to reflect broader AI workflow automation scope
  README.md
  action.yml
  package.json
Due: npm-lint-yaml

chore: Prepare for GitHub Marketplace release v1.0.12 (#26)
  README.md
  action.yml
  package.json
Due: npm-lint-yaml

chore: bump version to 1.0.13 and update dist files
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: post AI review comments inline to actual files instead of single giant comment
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/services/analysis-orchestrator.js
  tests/ai-review/analysis-orchestrator.test.js
Due: npm-lint, npm-lint-security

fix: correct emergency-controls workflow trigger syntax
  .github/workflows/emergency-controls.yml
Due: npm-lint-yaml

fix: prevent emergency-controls workflow from running on push events
  .github/workflows/emergency-controls.yml
Due: npm-lint-yaml

fix: resolve emergency-controls workflow timeout-minutes syntax error
  .github/workflows/emergency-controls.yml
Due: npm-lint-yaml

fix: resolve npm audit security vulnerabilities
  package-lock.json
  package.json
Due: none

feat: post AI review comments inline to actual files instead of single giant comment (#28)
  .github/workflows/emergency-controls.yml
  package-lock.json
  package.json
  scripts/ai-review/services/ai-analysis-service.js
  scripts/ai-review/services/analysis-orchestrator.js
  tests/ai-review/analysis-orchestrator.test.js
Due: npm-lint, npm-lint-security, npm-lint-yaml

chore: bump version to 1.0.14 and update dist files
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add remote label setup instructions to README
  README.md
Due: none

docs: add remote label setup instructions to README (#29)
  README.md
Due: none

chore: bump version to 1.0.15 and update dist files
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
